Flask==1.0.2
Flask-CLI==0.4.0
Flask-Testing==0.7.1
Flask-WTF==0.14.2
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.14.1
atomicwrites==1.2.1
attrs==18.2.0
click==6.7
funcsigs==1.0.2
itsdangerous==0.24
mccabe==0.6.1
mock==2.0.0
more-itertools==4.3.0
pathlib2==2.3.2
pbr==4.3.0
pluggy==0.8.0
py==1.10.0
pycodestyle==2.4.0
pyflakes==2.0.0
pytest==4.0.0
scandir==1.9.0
six==1.11.0
