@import url('https://fonts.googleapis.com/css?family=Lobster|Oswald:400,700');

/*Colours
#58A7C6 Teal
Black*/

body {
    overflow: hidden;  /*Ensures that the background image does not create an unnecessary scrollbar*/
}

.main-content {
    height:100%;
/*Code for the background image is from https://css-tricks.com/perfect-full-page-background-image/*/
    background: url("../images/riddle-background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.text-box {
    background-color: rgba(88, 167, 198, 0.8);
    color: black;
    width: 50vw;
    padding: 20px;
    position: fixed;
    top: 50%;
    transform: translateY(-60%);
    text-align: center
}

.title {
    text-align: center;
}

h1 {
    font-family: "Lobster", cursive;
    font-size: 100px;
}

h2 {
    font-family: Oswald;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}

.header-elements {
    background-color: #58A7C6;
    background-image: url("../images/maze-black.png");
    color: black;
}

.menuitem {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 25px;
    display: inline-block;
    color: black;
}

.menuitem a {
    text-decoration: none;
}

.menuitem a:hover {
    color: #5A18C9;
}

.form-label {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
}

/*Media Queries*/

@media(max-width: 1050px) {
    h1 {
        font-size: 50px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    .menuitem {
        font-size: 15px;
    }
    
    .navbar {
    display: inline-block;    
    text-align: left;
    }
}

@media(max-width: 767px) {
    .navbar {
    text-align: center;
    font-size: 12px;
    }
}