@import url('https://fonts.googleapis.com/css?family=Lobster|Oswald:400,700');

/*Colours
#D4D4F7 Lilac
#341509 Dark Brown*/

body {
    overflow: hidden;  /*Ensures that the background image does not create an unnecessary scrollbar*/
}

.main-content {
    min-height:100vh;
/*Code for the background image is from https://css-tricks.com/perfect-full-page-background-image/*/
    background: url("../images/maze-2264.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.text-box {
    background-color: rgba(184, 170, 20, 0.7);
    color: #342E09;
    width: 50vw;
    height: 50vh;
    padding: 20px;
    position: absolute;
}

.title {
    text-align: center;
}

h1 {
    font-family: "Lobster", cursive;
    font-size: 100px;
}

h2 {
    font-family: Oswald;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}

.header-elements {
    background-color: #b89f14;
    background-image: url("../images/maze-black.png");
    color: #342E09;
}

.navbar {
    text-align: left;
}

.menuitem {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #342E09;
}

.menuitem a {
    text-decoration: none;
}

.menuitem a:hover {
    text-decoration: none;
    color: #5A18C9;
}
