@import url('https://fonts.googleapis.com/css?family=Lobster|Oswald:400,700');

/*Colours
Black
#448D76 Green
#FD4D0C Orange*/

body {
    background: url("../images/riddle-background.jpg") no-repeat center fixed; 
    background-size: cover;
    overflow: hidden;  /*Ensures that the background image does not create an unnecessary scrollbar*/
}

#main-content {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.text-box {
    background-color: rgba(68, 141, 118, 0.85);
    color: black;
    width: 60vw;
    padding: 20px;
    text-align: center;
      top:50%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  position: absolute;

}

.title {
    text-align: center;
}

h1 {
    font-family: "Lobster", cursive;
    font-size: 100px;
}

h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}

h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

p {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.flash {
    font-weight: 700;
}

.btn {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.counter {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

#header {
    background-color: rgba(68, 141, 118, 0.85);
    color: black;
}

.menuitem {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 25px;
    display: inline-block;
    color: black;
}

#home {
    margin-right: 10px;
}

.menuitem a:hover {
    text-decoration: none;
    color: #FD4D0C;
}

.form-label {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
}

/*Media Queries*/

@media(max-width: 1050px) {
    h1 {
        font-size: 50px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    .menuitem {
        font-size: 15px;
    }
    
    .navbar {
    display: inline-block;    
    text-align: left;
    }
}

@media(max-width: 767px) {
    .navbar {
    text-align: center;
    font-size: 12px;
    }
}