{% extends 'base.html' %} 
{% block content %}
            
            <h2>Welcome, {{ username }}!</h2>
            <p class="body-text">You will be presented with 25 riddles, and have 
            two chances to answer each one. Each riddle&rsquo;s answer is one word.</p>

            <h2>Riddle {{ riddle_number + 1 }} of 25</h2>
                <p class="body-text">{{ question }}</p>

            <form method="POST">
                <label for="user_input" class="form-label body-text">Answer:</label>    
                <input type="text" name="user_input" autofocus="autofocus" id="user_input" required>
                <button class="form-label submit body-text" value="user_input">Submit Answer</button>
            </form>
            
            <!--The user sees a message telling them if they got an answer right and, if not, whether or not they have another chance-->
            {% with messages = get_flashed_messages() %} {% if messages %}
                {% for message in messages %}
                <p class="body-text" id="flash">{{ message }}</p>
                {% endfor %}
            {% endif %} {% endwith %}

            <div class = "body-text" id="score">
                Score: {{ score }}
            </div>
            
{% endblock %}