{% extends 'base.html' %} 
{% block content %}
    <div id="main-content">
        <div class="text-box">
            <h2>{{ page_title }}</h2>
            <h3>Riddle {{ context.riddle_index + 1 }} of 10</h3>    <!-- Chris' code -->
            <p>{{ context.riddle }}</p>                             <!-- Chris' code -->
            <form method="POST">
                <label for="answer" class="form-label">Answer:</label>    
                <input type="text" id="username" name="username">
                <button class="form-label">Submit Answer</button>
            </form>
            <div class = "counter" id="score">
                Score: {{ context.current_score }}
            </div>
            <div class = "counter" id="attempt">
                Attempt: {{ context.attempt }}
            </div>
        </div>
    </div>    
{% endblock %}