{% extends 'base.html' %} 
{% block content %}
            
            <h2>Welcome, {{ username }}!</h2>
            <p class="body-text">You will be presented with 10 riddles, and have 
            two chances to answer each one. Each riddle&rsquo;s answer is one 
            noun. You will get one point for each one that you answer correctly. 
            When you have answered or attempted all 10, your score will be added 
            to a leaderboard. There is no time limit.</p>

            <h2>Riddle {{ riddle_number }} of 10</h2>
                {% for riddle in riddles %} {% if ( loop.index == riddle_number|int ) %} <!--Start of loop through riddles-->
                <p class="body-text">{{ riddle.question }}</p>
            
            <form method="POST">
                <label for="answer" class="form-label body-text">Answer:</label>    
                <input type="text" name="user_input" id="user_input" required>
                <button class="submit body-text" class="form-label body-text">Submit Answer</button>
            </form>
                {% endif %} {% endfor %} <!--End of loop through riddles-->

            {% with messages = get_flashed_messages() %} {% if messages %}
                {% for message in messages %}
                <p class="body-text" id="flash">{{ message }}</p>
                {% endfor %}
            {% endif %} {% endwith %}

            <div class = "body-text" id="attempt">
                Attempt {{ attempt }} of 2
            </div>

            <div class = "body-text" id="score">
                Score: {{ score }}
            </div>
            
{% endblock %}